extends layout

block body
  div(class="container")
  div(class="row center")
    h1 Luhbot!
      div.row.center
        h3 O mangnifico bot para Twitch.TV
    div(class="row center")
      button(class="btn-large waves-effect waves-light purple twitch", onclick='connect()')
        i(class="mdi mdi-twitch left")
        span(class="right") Conectar
