html
  head
    title Luhbot
    link(rel="css/materialize.min.css", media="screen,projection")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    block body
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="js/materialize/bin/materialize.min.js")
    script(src="js/home.js")
