<!DOCTYPE html>
html(lang="pt-br")
head
	meta(charset="UTF-8")
	link(rel='stylesheet', type='text/css', href='/css/last.subscription.css')
	title Last Subscriber
body
	div(id='subName')
	script(src='/vendor/jquery/dist/jquery.min.js')
	script(src='/js/last.subscription.js')
		
