script(src="vendor/jquery/dist/jquery.min.js")
script(src="vendor/angular/angular.min.js")
script(src="vendor/socket.io-client/socket.io.js")
script(src="vendor/angular-ui-router/release/angular-ui-router.min.js")
script(src="js/materialize/bin/materialize.min.js")
script(src="vendor/multiline/browser.js")
script(src="js/app.js")

//- dashboard module
script(src="js/modules/dashboard/module.js")
script(src="js/modules/dashboard/controllers.js")
script(src="js/modules/dashboard/services.js")
script(src="js/modules/dashboard/directives.js")
