html
  head
    title Luhbot
    link(href="css/materialize.min.css", media="all", rel="stylesheet", type="text/css")
    link(href="vendor/mdi/css/materialdesignicons.min.css", media="all", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body(ng-app='luhbot')
    nav(class="purple lighten-1")
      div(class="nav-wrapper")
        a(href="#", class="brand-logo left") Luhbot
        ul(id="nav-mobile", class="right hide-on-med-and-down")
          li
            a(href="#start") Comece agora!
          li
            a(href="#aboutUs") Quem somos?
          li
            a(href="#helpUs") Quer ajudar?
    section(class="container")
      div(ui-view='content')
      bottom-menu
    include js
